.container{
  display:flex;
  flex-direction:row;
}

.flex-container{
  display: block;
  flex-direction:column;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  
  width: 50%;
  height: 50%;
  position: relative;
  top: 10%;
  left: 1%;
} 